!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{:lang => "en"}
	%head
		= render 'application/fb_login_popup_closer'
		= render 'application/html_head', args: {}
		= render 'application/header_styles'
		= render 'application/header_scripts'
	%body.home.blog
		#page.site
			- cache( 'application/site_header_features' ) do
				= render 'application/site_header_features', featured_results: @featured_results, args: {}
			- cache( 'application/site_header' ) do
				= render 'application/site_header'
			/ content
			#content.site-content
				#primary.content-area
					%main#main.site-main{:role => "main"}
						= render 'application/flash'
						.container
							.row
								/ article
								.col-md-8
									.site-entry
										= yield
								/ .col-md-8
								/ sidebar
								.col-md-4
									= render 'application/site_sidebar'
								/ .col-md-4
							/ .row
						/ .container
					/ #main
				/ #primary
			/ #content
			- cache( 'application/footer' ) do
				= render 'application/footer'
		/ #page
		/ jQuery (necessary for Bootstrap's JavaScript plugins)
		= render 'application/footer_scripts'