/ site branding
.site-branding
	.container
		.row
			.col-md-3
				%ul.social-icon
					- if User.me.social_id(:twitter).present?
						%li
							%a.icon-twitter{:href => "http://twitter.com/#{User.me.social_id(:twitter)}"}
								%i.fa.fa-twitter
					- if User.me.social_id(:facebook).present?
						%li
							%a.icon-facebook{:href => "http://www.facebook.com/#{User.me.social_id(:facebook)}"}
								%i.fa.fa-facebook
					- if User.me.social_id(:instagram).present?
						%li
							%a.icon-instagram{:href => "www.instagram.com/#{User.me.social_id(:instagram)}"}
								%i.fa.fa-instagram
					- if User.me.social_id(:pinterest).present?
						%li
							%a.icon-pinterest{:href => "http://www.pinterest.com/#{User.me.social_id(:pinterest)}"}
								%i.fa.fa-pinterest
					- if User.me.social_id(:youtube).present?
						%li
							%a.icon-youtube{:href => "http://www.youtube.com/channel/#{User.me.social_id(:youtube)}"}
								%i.fa.fa-youtube-play
			/ .col-md-3
			.col-md-6
				/ <h1 class="site-title"><a href="index.html" rel="home">Astrif.</a></h1>
				%h1.site-title.title-image
					%a{:href => swell_media.root_path(), :rel => "home"}
						NourishGent

				%p.site-description - Life, Health and Growth -
			/ .col-md-6
			.col-md-3
				= form_tag main_app.category_path( :all ), method: :get, class: 'search-form' do
					.form-group
						%label.sr-only{:for => "search"} Search
						= text_field_tag :q, '', :placeholder => "Search...", class: 'form-control search-field'
					/ .form-group
					%button.btn.btn-default.search-submit{:type => "submit"}
						%i.fa.fa-search
				/ .search-form
			/ .col-md-3
		/ .row
	/ .container
/ .site-branding
/ main navigation
.site-navigation-sticky-wrapper
	%header#masthead.site-header{:role => "banner"}
		%nav#site-navigation.main-navigation{:role => "navigation"}
			.container
				.row
					.col-md-12
						%button.menu-toggle{"aria-controls" => "primary-menu", "aria-expanded" => "false"}
							%i.fa.fa-bars
							%span.sr-only Primary Menu
						.menu-container
							%ul#primary-menu.menu.nav-menu{"aria-expanded" => "false"}
								%li.menu-item.current-menu-item
									%a{:href => swell_media.root_path() } Home
								%li.menu-item.menu-item-has-children{"aria-haspopup" => "true"}
									%a{:href => "#"} Features
									%ul.sub-menu
										%li.menu-item
											%a{:href => "single.html"} Single Post
										%li.menu-item
											%a{:href => "single-sidebar.html"} Single Post With Sidebar
										%li.menu-item
											%a{:href => "page-fullwidth.html"} Page Full Width
										%li.menu-item
											%a{:href => "page-sidebar.html"} Page With Sidebar
										%li.menu-item
											%a{:href => "shortcodes.html"} Shortcodes
										%li.menu-item
											%a{:href => "typography.html"} Typography
										%li.menu-item
											%a{:href => "404.html"} Not Found
								%li.menu-item
									%a{:href => "category.html"} Food
								%li.menu-item
									%a{:href => "category.html"} Cook
								%li.menu-item
									%a{:href => main_app.about_path()} About Me
								%li.menu-item
									%a{:href => swell_media.new_contact_path()} Contact
						/ .menu-container
					/ .col-md-12
				/ .row
			/ .container
		/ #site-navigation
	/ #masthead
/ .site-header-affix-wrapper